*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
}

#content {
    display: flex;
    flex-direction: column;
}

.nav-bar {
    position: absolute;
    left: 0;
    right: 0;
    margin: 16px;
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 22px;
}

.nav-content li {
    display: inline-block;
    color: white;
    font-size: 24px;
    font-family: 'Roboto';
    font-weight: 300;
    cursor: pointer;
}

.line {
    background-color: white;
    width: 1px;
    height: 26px;
    cursor: none;
}

.header {
    background-image: url('./background.jpg');
    height: 60vh;
}

.logo-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(1,22,39,0.7);
    text-align: center;
}

.logo-wrapper img {
    width: 20vw;
}

.main-content {
    padding: 24px 48px 24px 64px;
    width: 60vw;
    height: 100%;   
    margin: 0 auto;
    font-family: 'Roboto';
    background-color: white;
}

.title {
    text-align: center;
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 0.5px solid rgba(1,22,39,1);
}

.map-wrapper {
    padding: 24px;
    text-align: center;
}

.title span {
    font-size: 64px;
    font-weight: 600;
    color: rgba(1,22,39,1);
}

.main-content .main-text {
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 48px;
    padding-bottom: 24px;
    border-bottom: 0.5px solid rgba(1,22,39,1);
}

.main-content h2 span {
    font-size: 32px;
    font-weight: 500;
    border-bottom: 4px solid rgba(1,22,39,1);
}

.main-content h2 {
    margin-bottom: 16px;
}

.main-content p {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 24px;
}

.second-content {
    background-color: rgba(1,22,39,1);
    width: 100%;
    display: flex;
    justify-content: center;
}
.menu {
    margin: 48px 0;
    color: white;
    width: 60vw;
    border-collapse: collapse;  
}

caption {
    text-align: left;
    margin-bottom: 16px;
    font-size: 48px;
    font-weight: 800;
    font-family: 'Roboto';
}

.menu tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

tbody tr {
    border-bottom: 1px solid white;
}

tbody tr:nth-child(odd) {
    margin-top: 4px;
    font-size: 24px;
    border-bottom: none;
}

tbody tr:nth-child(even) {
    height: 100%;
    margin-top: -8px;
    padding-bottom: 12px;
}

tbody tr:nth-child(even) td {
    font-size: 16px;
    font-weight: 500;
}

.menu-header {
    border-bottom: 3px solid white;
}

.menu th {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 32px;  
}

.menu td {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 24px;
}

.footer {
    color: white;
    padding: 24px;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 300;
    background-color: rgba(1,22,39,1);
    justify-self: flex-end;
}